header {
    margin: 0 auto; padding: 0 30px;
    position: fixed; top: 0; left: 0;
    width: 100%; height: 100%; white-space: nowrap;
}
header .top{
    display: flex; justify-content: space-between;
    background: #999;
}
header .other_brands {}
header .other_brands a{width: 24px; height: 24px;}
header .other_brands a img{}
header .h_center {text-align: center;}
header .h_center p {}
header .h_center p a {}
header .h_right {}
header .h_right a {}
header .bottom {
    display: flex; justify-content: space-between;
}
header .bottom a {}
header .bottom a img {}
header .bottom nav{background: yellowgreen;}

header .bottom nav .main_menu{
    background: pink; display: flex; flex-flow: row nowrap;
    padding: 15px 0; 
}
header .bottom nav .main_menu > li{
    position: relative; padding-right:30px;
}
header .bottom nav .main_menu > li > a{
    background: yellow; 
    line-height:30px; font-weight: 700;
}
header .bottom nav .main_menu > li > .sub_menu{
    display: none; height: 500px; background: #fff; 
    position: absolute;
}
header .bottom nav .main_menu li .sub1 {display: flex;}
header .bottom nav .main_menu li > .sub_menu > li { 
    border-right:1px solid black ; text-align: center;
}
header .bottom nav .main_menu li > .sub_menu > li { 
header .bottom nav .main_menu li > .sub_menu > li:last-child { border-right:none ;}
header .bottom nav .main_menu > li > .sub_menu > li > a {
    padding: 15px 0 15px 5px; display: inline-block;
}
header .bottom nav .main_menu li .sub_menu:first-child li {
    width: 200px; background: #999; height: 50px;
}
header .bottom nav .main_menu li .sub_menu li .sub_contents{
}
header .bottom nav .main_menu li .sub_menu li .sub_contents li {}
header .bottom nav .main_menu li .sub_menu li .sub_contents li a {
    background: purple;  color: gray;
    padding: 0 30px; display: block;line-height:30px;
}
/* slide */
main {}
main #marketing_slide{}
main #marketing_slide .swiper-wrapper {}
main #marketing_slide .swiper-wrapper .slide1{}
main #marketing_slide .swiper-wrapper .slide2{}
main #marketing_slide .swiper-wrapper .slide3{}
main #marketing_slide .swiper-wrapper .slide4{}
main #marketing_slide .swiper-wrapper .slide5{}
main #marketing_slide .swiper-wrapper .slide6{}
main #marketing_slide .swiper-wrapper .slide7{}
main #marketing_slide .swiper-wrapper .slide8{}