/* main */
main {}
/* slide */
main #marketing_slide{position: relative;
    height: 100vh; padding-top: 130px;
}
main #marketing_slide .swiper-wrapper {}
main #marketing_slide .swiper-button-prev::after,
main #marketing_slide .swiper-button-next::after{
    display: none;
}
#marketing_slide .swiper-scrollbar {
    
}
main #marketing_slide .swiper-wrapper .swiper-slide {
    width: 100%; position: relative; height:800px; 
}
main #marketing_slide .swiper-wrapper .swiper-slide .slide_txt{
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translate(-50%, -50%); text-align: center;
}
main #marketing_slide .swiper-wrapper .swiper-slide .slide_txt h1{
    line-height: 30px; font-weight: 600; font-size: 3.157em; color: #fff;
}
main #marketing_slide .swiper-wrapper .swiper-slide .slide_txt h1 span:nth-child(1){
    line-height: 50px;
}
main #marketing_slide .swiper-wrapper .swiper-slide .slide_txt h1 a{
    background: black; border-radius: 20px; color: #fff; padding: 5px 20px;
}
main #marketing_slide .swiper-wrapper .slide1{
    background: url(../image/marketing_bn_slide1.jpg) no-repeat;
    background-position: center;
}
main #marketing_slide .swiper-wrapper .slide2{
    background: url(../image/marketing_bn_slide2.jpg) no-repeat;
    background-position: center;
}
main #marketing_slide .swiper-wrapper .slide3{
    background: url(../image/marketing_bn_slide3.jpg) no-repeat;
    background-position: center;
}
main #marketing_slide .swiper-wrapper .slide4{
    background: url(../image/marketing_bn_slide4.jpg) no-repeat;
    background-position: center;
}
main #marketing_slide .swiper-wrapper .slide5{
    background: url(../image/marketing_bn_slide5.jpg) no-repeat;
    background-position: center;
}
main #marketing_slide .swiper-wrapper .slide5 .slide_txt{bottom: 0;}
main #marketing_slide .swiper-wrapper .slide5 .slide_txt h1 a{
    background-color: #fff; color: black;
    }
main #marketing_slide .swiper-wrapper .slide6{
    background: url(../image/marketing_bn_slide6.jpg) no-repeat;
    background-position: center;
}
main #marketing_slide .swiper-wrapper .slide6 .slide_txt h1{color: black ;}
main #marketing_slide .swiper-wrapper .slide7{
    background: url(../image/marketing_bn_slide7.jpg) no-repeat;
    background-position: center;
}
/* ******** Featured_shoes section ********* */
main section {
    margin: 40px 0 0 30px;
}
main .featured_shoe_box .swiper-button-prev::after,
main .featured_shoe_box .swiper-button-next::after{
    display: none;
}
main .featured_shoe_box .swiper-button-prev{
    background: url(../image/prev.png) no-repeat;
    background-size: cover; width: 44px;
}
main .featured_shoe_box .swiper-button-next{
    background: url(../image/Next.png) no-repeat;
    background-size: cover; width: 44px;
}
main .featured_shoe_box h1 {
    font-weight: 600; font-size: 1.777em; border-bottom: 3px solid black;
    width: 300px; padding-bottom: 20px;
}
main #featured_shoes_item {padding-top: 30px;}
main #featured_shoes_item {}
main #featured_shoes_item .swiper-wrapper{}
main #featured_shoes_item .swiper-wrapper .swiper-slide { 
}
main #featured_shoes_item .swiper-wrapper .swiper-slide a{
    display: flex; flex-flow: column nowrap; 
}
main #featured_shoes_item .swiper-wrapper .swiper-slide a img:hover{
    filter: brightness(110%) saturate(150%) ;}
main #featured_shoes_item .swiper-wrapper .swiper-slide a > *{
    line-height: 25px;
}
main #featured_shoes_item .swiper-wrapper .swiper-slide a img{
    width: 330px; height: 330px;}
main #featured_shoes_item .swiper-wrapper .swiper-slide a em{
    color: #c98200; font-weight: 600;
}
main #featured_shoes_item .swiper-wrapper .swiper-slide a span{}
main #featured_shoes_item .swiper-wrapper .swiper-slide a strong{
    color: #fff; width: 45px;text-align: center;
}
main #featured_shoes_item .swiper-wrapper .swiper-slide a .male{background: black; }
main #featured_shoes_item .swiper-wrapper .swiper-slide a .female{background: rgb(252, 0, 126);}
main #featured_shoes_item .swiper-wrapper .swiper-slide a .unisex {background: rgb(216, 68, 0);}
main #featured_shoes_item .swiper-wrapper .slide1{}
/* Always Iconic line */
/* app  */
#app {
    width: 100%; height: 80vh; 
}
#app h1 {
    padding: 50px 0 30px 30px;
    font-size: 1.777em; font-weight: 600;
}
#app .app_items {
    margin-right: 60px;
    display: flex; justify-content: space-between;}
#app .app_items .app_box{}
#app .app_items .app_box a{width: 330px; height: 370px;}
#app .app_items .app_box a img{ width: 100%;}
#app .app_items .app_box .app_box_txt{}
#app .app_items .app_box .app_box_txt h2{
    font-size: 1.777em; padding: 15px 0; font-weight: 600;
}
#app .app_items .app_box .app_box_txt p{
    line-height: 30px;
}
#app .app_items .app_box .app_box_txt p a{
    border-radius: 40px; background: black; color: #fff;
    padding: 5px 10px; 
    
}
#app .app_items .app_box .app_box_txt p a:last-child:hover{
    background: #aaa; color: black; transform: skewX(30deg);
    transition: all 0.5s linear;
}
#app .app_items .app_box .app_box_txt p:last-child{padding-top: 15px;}
